* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.first {
    background-color: rgb(216, 157, 119);
    width: 100%;
    height: 100vh;
}